modules = ["dotnet-8.0", "nodejs-20", "web"]
run = "dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "Start Full Stack"

[[workflows.workflow]]
name = "Start Backend API"
author = 41313860
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend/PAD.Api && dotnet run --urls \"http://0.0.0.0:5000\""

[[workflows.workflow]]
name = "Start Full Stack"
author = 41313860
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend/PAD.Api && dotnet run"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && PORT=3000 npm start"

[[workflows.workflow]]
name = "Start Frontend"
author = 41313860
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 3002
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
